@mixin card {
  transition: all 0.8s;
  background: $light;
  padding: 30px;
  &:hover {
    box-shadow: 4px 7px 36px -5px rgba(108, 117, 125, 0.75);
  }
  i {
    font-size: 30px;
    color: $indigo;
  }
  .description {
    font-size: 22px;
    font-weight: 500;
    margin: 15px 0 15px 0;
    color: $dark;
  }
  .about {
    color: $gray;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
  }
}
